*,*::after,*::before{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: #CFDEDF;
    font-size: 1em;
}

.btn-wrapper{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20em;
    padding: 2em;
    width: 30%;
    /* background: red; */
}

.btn{
    background-color: #092B62;
    border: none;
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 20px 20px #888888;
}

.btn:hover{
    background-color: black;
    box-shadow: 5px 5px 20px black;
}

.btn:hover .btn-text-two{
    display: block;
}
.btn:hover .btn-text-one{
    display: none;
}

.btn-text-two{
    display: none;
}